<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" *ngIf="!authService.authenticated">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Usuário" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Senha" [(ngModel)]="password" type="password" name="password" required>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <p>{{message}}</p>
      <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary" *ngIf="!authService.authenticated">Login</button>
      <button mat-button (click)="googleLogin()" *ngIf="!authService.authenticated">Login with Google</button>
      <button mat-button (click)="logout()" *ngIf="authService.authenticated">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>
