service cloud.firestore {
  match /databases/{database}/documents {
    function estaAutenticado() {
      return request.auth.uid != null;
    }

    function ehVoceMesmo() {
      return request.auth.uid == resource.data.id;
    }

    function naoEstaTentandoMudarOAdministrador() {
      return !(request.resource.data.admin != resource.data.admin);
    }

    function naoEstaTentandoSerOAdministrador() {
      return !(request.resource.data.admin == true);
    }

    function ehSeuRecurso() {
      return ('monstros/' + request.auth.uid) == request.resource.data.monstroId;
    }

    function ehProprietario() {
      return ('monstros/' + request.auth.uid) == resource.data.monstroId;
    }

    function ehAdministrador() {
      return get(/databases/$(database)/documents/monstros/$(request.auth.uid)).data.admin == true;
    }

    match /{document=**} {
      allow read: if true;
    }

    match /monstros/{monstro} {
      allow update, delete: if (ehVoceMesmo() && naoEstaTentandoSerOAdministrador()) || ehAdministrador();
      allow create: if (estaAutenticado() && naoEstaTentandoSerOAdministrador());
    }

    match /medidas/{medida} {
      allow create: if ehSeuRecurso() || ehAdministrador();
      allow update, delete: if ehProprietario() || ehAdministrador();
    }

    match /rankings/{ranking} {
      allow create: if ehSeuRecurso() || ehAdministrador();
      allow update, delete: if ehProprietario() || ehAdministrador();
    }
  }
}
