// .container {
//   display: flex;
//   flex-direction: column;
// }

// .container > * {
//   width: 100%;
// }

.center{
  width: 75%;
  margin: 10px auto;
}

mat-card.monstro {
  max-width: 320px;
}

// div[mat-card-avatar].monstro {
//   background-image: url('../../assets/foto-vQeCUnaAWmzr2YxP5wB1.jpg');
//   background-size: cover;
// }

#email {
  width: 100%;
}

#dataDeNascimento {
  max-width: 125px;
}

#idade {
  max-width: 45px;
}

#genero {
  max-width: 90px;
}

#altura {
  max-width: 60px;
}

#nome {
  width: 50%;
}

#usuario {
  width: 50%;
}

#dataDoUltimoLogin {
  width: 100%;
}
