.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  // background-image: url('../../assets/foto-vQeCUnaAWmzr2YxP5wB1.jpg');
  background-size: cover;
}
