<!-- <ng-container *ngIf="(aparelhos$ | async) as aparelhos; else loading"> -->
<!-- <div class="app-container mat-elevation-z8"> -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="imagem">
    <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td mat-cell *matCellDef="let aparelho">
      <mat-icon matListIcon>fitness_center</mat-icon>
      <!-- <img class="imagem" src="{{aparelho.imagemURL}}" alt="Imagem de {{aparelho.codigo}}"> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="codigo"> Código </th>
    <td mat-cell *matCellDef="let aparelho"> {{aparelho.codigo}}
    </td>
  </ng-container>

  <ng-container matColumnDef="academia">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="academia"> Academia </th>
    <td mat-cell *matCellDef="let aparelho"> {{aparelho.academia.nome}}
    </td>
  </ng-container>

  <ng-container matColumnDef="exercicios">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="exercicios"> Exercícios </th>
    <td mat-cell *matCellDef="let aparelho">
      <cadastro-de-aparelhos-exercicios [aparelho]="aparelho">
      </cadastro-de-aparelhos-exercicios>
    </td>
  </ng-container>

  <ng-container matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let aparelho">
      <!-- <button mat-icon-button (click)="onDelete(aparelho)">
                  <mat-icon>delete</mat-icon>
                </button> -->
      <button mat-icon-button [matMenuTriggerFor]="aparelhoMenu"
        [matMenuTriggerData]="{aparelhoAtualizadoOuExcluido: aparelho}">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.getDisplayedColumns(); sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: this.getDisplayedColumns();"></tr>
</table>
<!-- </div> -->

<mat-menu #aparelhoMenu="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-aparelho="aparelhoAtualizadoOuExcluido">
    <button mat-menu-item (click)="onEdit(aparelho)">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="onDelete(aparelho)">
      <mat-icon>delete</mat-icon>
      <span>Remover</span>
    </button>
  </ng-template>
</mat-menu>

<button mat-fab class="fab-bottom-right" (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>
<!-- </ng-container> -->

<!-- <ng-template #loading> -->
<mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="!dataSource"></mat-spinner>
<!-- </ng-template> -->
