table.monstros {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 750px) {
  table.monstros {
    width: 50%;
    max-width: 600px;
    margin: 28px auto 30px;
  }
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-top: 3px;
  padding-left: 16px;
}

// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   text-align: right;
// }

th.data {
  min-width: 60px;
}

th.peso {
  min-width: 40px;
}

th.gorduraVisceral {
  max-width: 60px;
}

th.idadeCorporal {
  max-width: 50px;
}

th.metabolismoBasal {
  max-width: 60px;
}

// td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
// }
