<h1 mat-dialog-title>{{ dialogTitle }}</h1>

<form [formGroup]="cadastroForm">
  <mat-dialog-content class="container">
    <mat-form-field>
      <input type="text" placeholder="Código" matInput formControlName="codigo">
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-select placeholder="Academia" formControlName="academiaId" required>
        <mat-option *ngFor="let academia of academias$ | async" [value]="academia.id">{{academia.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-select placeholder="Exercícios" formControlName="exerciciosIds" multiple required>
        <mat-option *ngFor="let exercicio of exercicios$ | async" [value]="exercicio.id">{{exercicio.nome}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type="text" placeholder="Imagem URL" matInput formControlName="imagemURL">
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button mat-button [disabled]="cadastroForm.invalid" (click)="onSave()">SALVAR</button>
  </mat-dialog-actions>
</form>
