.indicador-base {
  // font-size: 11px;
  // font-weight: bold;
  color: #4caf50; // green, 500
}

.bad {
  color: #f44336; // red, 500
}

.good {
  color: #304ffe; // indigo, a700
}

.warning {
  color: #ffab00; // amber, a700
}

.error {
  color: #f44336; // red, 500
}
