<h1 class="mat-headline">Termos de Uso</h1>

<p class="mat-body">
  O <b class="sistema">Monstros Club</b> foi construído com muita dedicação para que as pessoas pudessem usufruir de
  ferramentas feitas para ajudá-las no monitoramento de sua saúde de uma maneira diferente. Partindo deste ponto, para
  utilizar o <b class="sistema">Monstros Club</b> como <b class="usuario">Usuário</b> você concorda que:
</p>
<ul class="mat-body">
  <li>
    <b class="capital">1.</b>deve tratar as pessoas com respeito nas eventuais formas de interação que o <b
      class="sistema">Monstros Club</b> fornecer com outros Usuários;
  </li>
  <li>
    <b class="capital">2.</b>os dados retidos pelas ferramentas do <b class="sistema">Monstros Club</b> são informações
    dizem muito respeito a intimidade das pessoas, tais como peso e medidas corporais; você nunca deve expor a ninguém;
    mantemos essas informações com toda a responsabilidade e mais informações sobre como tratamos os seus dados no <b
      class="sistema">Monstros Club</b> podem ser encontradas na nossa <a href="politica-de-privacidade">política de
      privacidade</a>;
  </li>
  <li>
    <b class="capital">3.</b>manterá suas informações de acesso, e também aquelas informações que você julgue privativa,
    sob a sua responsabilidade, não compartilhando o seu perfil com ninguém que não seja de sua confiança para não haver
    vazamentos de informações sensíveis;
  </li>
  <li>
    <b class="capital">4.</b>não tentará invadir o <b class="sistema">Monstros Club</b> para prejudicar os outros
    Usuários; e nem para roubar informações não publicadas explicitamente pelos Usuários através das ferramentas do <b
      class="sistema">Monstros Club</b>; eventualmente uma "API" (<i>Application Programming Interface</i>) poderá ser
    provida à desenvolvedores que devidamente autorizados poderão fazer uso de informações conforme previsto na nossa
    <a href="politica-de-privacidade">política de privacidade</a>;
  </li>
  <li>
    <b class="capital">5.</b>para acessar o <b class="sistema">Monstros Club</b>, embora o mesmo seja desenvolvido como
    um sistema sofisticado que funcione <i>offline</i> (sem internet), os responsáveis pelo <b class="sistema">Monstros
      Club</b> não têm a obrigação de arcar com as despesas que <b class="usuario">Usuário</b> tenha sobre tarifas e
    gastos com acesso a internet sejam quais forem;
  </li>
</ul>
<p class="mat-body">
  Se você não concorda com pelo menos um dos itens acima descritos, lamentamos, mas você não deve usar o <b
    class="sistema">Monstros Club</b>.
</p>
<p class="mat-body-strong">
  Rio de Janeiro, 26 de março de 2019.
</p>
