<h1 class="mat-headline">Política de Privacidade</h1>

<p class="mat-body">
  Esta <b class="destaque">política de privacidade</b> diz como eu, <b class="destaque">Marcelo Dias Correa da
    Silva</b>, residente no <b class="destaque">Rio de Janeiro, Brasil</b>, de CPF <b
    class="destaque">096.196.147-39</b>, daqui por diante chamado apenas de "<b class="mantenedor">Mantenedor</b>" do
  <b class="sistema">Monstros Club</b> (<a href="https://monstros.club">https://monstros.club</a>) faço para tratar suas
  informações que você, doravante chamado de "<b class="usuario">Usuário</b>", tanto preza.
</p>
<p class="mat-body">
  Foi pensando no seu conforto e na sua confiança ao utilizar o <b class="sistema">Monstros Club</b> como <b
    class="usuario">Usuário</b>, eu o <b class="mantenedor">Mantenedor</b>, comunico a você, <b
    class="usuario">Usuário</b>, todas as medidas e
  procedimentos relacionados a como os seus dados são manipulados e mantidos no <b class="sistema">Monstros Club</b>:
</p>
<ul class="mat-body">
  <li>
    <b class="capital">1.</b> Primeiramente, você <b class="usuario">Usuário</b> é dono das suas informações; como tal,
    você pode excluí-las do <b class="sistema">Monstros Club</b> quando quiser; eventualmente, mesmo que todas as suas
    informações sejam removidas imediatamente de todas as interfaces visíveis do <b class="sistema">Monstros Club</b>,
    um período de até <b class="destaque">30 dias</b> poderá ser usado para reter internamente estes dados para fins de
    arrependimento.
  </li>
  <li>
    <b class="capital">2.</b> Começando pelo seu <b class="destaque">e-mail</b> de <b class="usuario">Usuário</b>
    cadastrado no <b class="sistema">Monstros Club</b> , esta informação é a mais sigilosa de todas; sendo de extrema
    importância ela será usada como:
    <ul>
      <li><b class="capital">a.</b> meio de autenticação de <b class="usuario">Usuário</b> no <b
          class="sistema">Monstros Club</b>;</li>
      <li><b class="capital">b.</b> meio de contato entre o eu, o <b class="mantenedor">Mantenedor</b>, e você, o <b
          class="usuario">Usuário</b>.
      </li>
    </ul>
  </li>
  <li>
    <b class="capital">3.</b> A <b class="destaque">data de nascimento</b> do <b class="usuario">Usuário</b> também é
    retida pelo <b class="sistema">Monstros Club</b> para determinação da
    idade do <b class="usuario">Usuário</b> para uso no
    funcionamento das ferramentas do <b class="sistema">Monstros Club</b>.
  </li>
  <li>
    <b class="capital">4.</b> Estas são as outras informações que o <b class="sistema">Monstros Club</b> mantém a
    respeito de você <b class="usuario">Usuário</b>:
    <ul>
      <li><b class="capital">a.</b> Medidas Corporais:
        <ul>
          <li>- Peso</li>
          <li>- Percentual de Gordura</li>
          <li>- Percentual de Gordura Visceral</li>
          <li>- Percentual de Músculo</li>
          <li>- Idade
            Corporal</li>
          <li>- Metabolismo Basal</li>
          <li>- Índice de Massa Corporal</li>
        </ul>
      </li>
      <li><b class="capital">b.</b> Medidas de Comprimento:
        <ul>
          <li>- Altura</li>
        </ul>
      </li>
      <li><b class="capital">c.</b> Séries (de Exercícios)</li>
      <li><b class="capital">d.</b> Treinos</li>
    </ul>
  </li>
  <li>
    <b class="capital">5.</b> Se esta <b class="destaque">política de privacidade</b> for alterada um aviso com no
    mínimo 30 dias de
    antecedência será emitido para o e-mail cadastrado no <b class="sistema">Monstros Club</b>.
  </li>
  <li>
    <b class="capital">6.</b> Suas informações de <b class="usuario">Usuário</b> são mantidas no <b
      class="sistema">Monstros Club</b> usando-se as melhores práticas aconselhadas para o manuseio de informações
    pessoais.
  </li>
  <li>
    <b class="capital">7.</b> Se não concorda com esta <b class="destaque">política de privacidade</b> você não deve
    utilizar o <b class="sistema">Monstros Club</b>; e caso você tenha alguma informação ou conta de <b
      class="usuario">Usuário</b>
    no mesmo você pode excluir os seus dados e encerrar a sua conta aqui.
  </li>
  <li>
    <b class="capital">8.</b> Qualquer condição ou cláusula que aqui estiver não pode e nunca será contra a lei;
    prevalece a legislação brasileira.
  </li>
</ul>
<p class="mat-body-strong">
  Rio de Janeiro, 26 de março de 2019.
</p>
