// .container {
//   display: flex;
//   flex-direction: column;
// }

// .container > * {
//   width: 100%;
// }

mat-card.monstro {
  width: 100%;
  margin: 10px auto 12px;
}

// div[mat-card-avatar].monstro {
//   background-image: url('../../assets/foto-vQeCUnaAWmzr2YxP5wB1.jpg');
//   background-size: cover;
// }

@media only screen and (min-width: 600px) {
  // .container {
  //   height: 60vh;
  // }

  mat-card.monstro {
    width: 75%;
    margin: 10px auto;
    max-width: 320px;
    // width: 50%;
    // margin: 28px auto 30px;
  }
}

#email {
  width: 100%;
}

#dataDeNascimento {
  max-width: 125px;
}

#idade {
  max-width: 45px;
}

#genero {
  max-width: 90px;
}

#altura {
  max-width: 60px;
}

#nome {
  width: 50%;
}

#usuario {
  width: 50%;
}

#dataDoUltimoLogin {
  width: 100%;
}
