.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 12em;
}

table {
  width: 100%;
}

td.mat-cell:first-of-type {
  padding-top: 3px;
  padding-left: 16px;
}

th.proprietario {
  min-width: 82px;
}

th.nome {
  min-width: 100px;
}

th.participantes {
  min-width: 120px;
}

th.feitoCom {
  min-width: 120px;
}

th.dataDeCriacao {
  min-width: 100px;
}

td.mat-cell:last-of-type {
  text-align: right;
  padding-right: 17px;
}
