table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 16px;
  min-width: 64px;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-top: 3px;
}

// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   text-align: right;
// }

th.data {
  min-width: 75px;
}

th.peso {
  min-width: 46px;
}

th.gordura {
  min-width: 75px;
}

th.gorduraVisceral {
  min-width: 70px;
}

th.musculo {
  min-width: 80px;
}

th.idadeCorporal {
  min-width: 60px;
}

th.metabolismoBasal {
  min-width: 80px;
}

th.imc {
  min-width: 80px;
}

td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type,
th.mat-header-cell:last-of-type {
  // text-align: right;
  padding-right: 0;
}

.good {
  background-color: #f0fff0;
}

.bad {
  background-color: #fff0f0;
}

.indicador-de-assiduidade-de-medidas {
  font-size: 4px;
  font-weight: normal;
  border-radius: 50%;
  padding: 2px 4px;
  position: relative;
  top: -3px;
}

.good .indicador-de-assiduidade-de-medidas {
  background-color: green;
}

.bad .indicador-de-assiduidade-de-medidas {
  background-color: red;
}

@media (max-width: 1200px) {
  .mat-column-gorduraVisceral,
  .mat-column-idadeCorporal,
  .mat-column-metabolismoBasal {
    text-align: center;
  }
}
