<botao-de-exercicio *ngFor="let serieDeExercicio of serie.exercicios" [exercicio]="serieDeExercicio.exercicio" [cor]="serie.cor"
  [matMenuTriggerFor]="serieDeExercicioMenu" [matMenuTriggerData]="{serieDeExercicio2: serieDeExercicio}">
</botao-de-exercicio>

<button mat-icon-button (click)="onAdd()">
  <mat-icon>add</mat-icon>
</button>

<mat-menu #serieDeExercicioMenu="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-serieDeExercicio="serieDeExercicio2">
    <!-- <button mat-menu-item routerLink="../../admin/cadastro/exercicios/{{serieDeExercicio.exercicio.id}}">
      <mat-icon>info</mat-icon>
      <span>Visualizar Exercício</span>
    </button> -->
    <button mat-menu-item (click)="onEdit(serieDeExercicio)" [disabled]="disabledWrite">
      <mat-icon>edit</mat-icon>
      <span>Editar Exercício da Série</span>
    </button>
    <button mat-menu-item (click)="onDelete(serieDeExercicio)" [disabled]="disabledWrite">
      <mat-icon>delete</mat-icon>
      <span>Remover Exercício da Série</span>
    </button>
  </ng-template>
</mat-menu>
