<!-- <ng-container *ngIf="(series$ | async) as series; else loading"> -->
<!-- <div class="app-container mat-elevation-z8"> -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="foto">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let serie">
      <button mat-icon-button class="play" (click)="onPlay(serie)">
        <mat-icon matListIcon>play_arrow</mat-icon>
      </button>
      <!-- <mat-icon matListIcon>play_circle_outline</mat-icon> -->
      <!-- <img class="foto" src="{{serie.monstro.photoURL}}" alt="{{serie.monstroId}}"> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="nome"> Nome </th>
    <td mat-cell *matCellDef="let serie">
      <a routerLink="./{{serie.id}}">
        {{serie.nome}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="exercicios">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="exercicios"> Exercícios </th>
    <td mat-cell *matCellDef="let serie">
      <series-exercicios [monstroId]="monstro.id" [serie]="serie">
      </series-exercicios>
    </td>
  </ng-container>

  <ng-container matColumnDef="execucoes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="execucoes"> Execuções </th>
    <td mat-cell *matCellDef="let serie">
      <series-execucoes-widget [monstro]="monstro" [serie]="serie">
      </series-execucoes-widget>
    </td>
  </ng-container>

  <ng-container matColumnDef="menu">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let serie">
      <!-- <button mat-icon-button (click)="onDelete(serie)">
          <mat-icon>delete</mat-icon>
        </button> -->
      <button mat-icon-button [matMenuTriggerFor]="serieMenu" [matMenuTriggerData]="{serieAtualizadaOuExcluida: serie}">
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.getDisplayedColumns(); sticky: true;"></tr>
  <tr mat-row *matRowDef="let row; columns: this.getDisplayedColumns();"></tr>
</table>
<!-- </div> -->

<mat-menu #serieMenu="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-serie="serieAtualizadaOuExcluida">
    <button mat-menu-item (click)="onEdit(serie)" [disabled]="disabledWrite$ | async">
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
    <button mat-menu-item (click)="onDelete(serie)" [disabled]="disabledWrite$ | async">
      <mat-icon>delete</mat-icon>
      <span>Remover</span>
    </button>
  </ng-template>
</mat-menu>

<button mat-fab class="fab-bottom-right" (click)="onAdd()" [disabled]="disabledWrite$ | async">
  <mat-icon>add</mat-icon>
</button>
<!-- </ng-container> -->

<!-- <ng-template #loading> -->
<mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="!dataSource"></mat-spinner>
<!-- </ng-template> -->
