<mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="loading"></mat-spinner>

<div class="container" *ngIf="!loading">
  <p class="mat-body">
    Lançamento dia <strong>25 FEV 2019</strong>
  </p>

  <mat-nav-list>
    <mat-list-item *ngFor="let serie of series$ | async">
      {{serie.id}}, {{serie.data}}
    </mat-list-item>
  </mat-nav-list>
</div>

<!-- <mat-menu #taskMenu="matMenu" overlapTrigger="false">
  <ng-template matMenuContent let-medida="medida">
    <button mat-menu-item (click)="showDialog(medida)">
      <mat-icon>edit</mat-icon>
      <span>Update</span>
    </button>
    <button mat-menu-item (click)="onDelete(medida)">
      <mat-icon>delete</mat-icon>
      <span>Remove</span>
    </button>
  </ng-template>
</mat-menu> -->
