<!--The content below is only a placeholder and can be replaced.-->
<!-- <mat-toolbar color="primary" class="mat-elevation-z2">Medidas</mat-toolbar> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button class="title" routerLink=".">
      <h1>Monstros Club</h1>
    </a>
    <!-- </mat-toolbar-row> -->
    <!--
    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="space"></span>
      <mat-icon>verified_user</mat-icon>
    </mat-toolbar-row> -->

    <!-- <mat-toolbar-row> -->
    <!-- <span>Placar</span> -->
    <span class="space"></span>
    <!-- <a mat-icon-button routerLink=".">
      <img class="avatar" src="../assets/icons/icon-72x72.png" alt="Logo">
    </a> -->
    <a mat-icon-button (click)="sobre()">
      <mat-icon class="red-icon">favorite</mat-icon>
    </a>
    <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contato</a> -->
    <!-- <a mat-icon-button routerLink="/admin">
      <mat-icon>star_border</mat-icon>
    </a> -->
    <!-- <mat-icon>favorite</mat-icon>
      <mat-icon>delete</mat-icon> -->
    <ng-container *ngIf="(monstroLogado$ | async) as monstroLogado; else loading">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <img class="avatar" src="{{monstroLogado.photoURL}}" alt="Foto do Monstro">
        <!-- <mat-icon matListIcon>person</mat-icon> -->
        <!-- <p matLine>
                            <span> Este é o início </span>
                            <span class="demo-2"> -- açslkd jf çlasj dklçf jças dfj  </span>
                          </p> -->
      </button>
      <!-- <a mat-icon-button routerLink="/{{monstroLogado.id}}"
                          [routerLinkActiveOptions]="{ exact: true }" *ngIf="monstroEstaLogado"> -->
      <!-- <img matListAvatar src="{{monstroLogado.photoURL}}" alt="Foto do Monstro"> -->
      <!-- <mat-icon matListIcon>person</mat-icon> -->
      <!-- <h3 matLine>{{ monstroLogado.email }}</h3> -->
      <!-- <button mat-icon-button (click)="logout()">
                                <mat-icon>exit_to_app</mat-icon>
                              </button> -->
      <!-- <p matLine>
                                  <span> Este é o início </span>
                                  <span class="demo-2"> -- açslkd jf çlasj dklçf jças dfj  </span>
                                </p> -->
      <!-- </a> -->
    </ng-container>
    <ng-template #loading>
      <ng-container *ngIf="ehAnonimo$ | async; else anonimo">
        <a mat-icon-button routerLink="/login">
          <mat-icon>person</mat-icon>
        </a>
      </ng-container>
      <ng-template #anonimo>
        <mat-spinner class="mat-icon-button spinner" color="accent" diameter="40" strokeWidth="4"></mat-spinner>
      </ng-template>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet #routerOutlet="outlet"></router-outlet>
<!-- <div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div> -->
<router-outlet name="popup"></router-outlet>

<!--
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<mat-menu #appMenu="matMenu">
  <!-- <button mat-menu-item>Configurações</button>
  <button mat-menu-item>Ajuda</button>
  <mat-divider></mat-divider> -->
  <ng-container *ngIf="(monstroLogado$ | async) as monstroLogado">
    <button mat-menu-item routerLink="/{{monstroLogado.id}}">
      Meu Perfil
    </button>
    <button mat-menu-item (click)="logout()">Sair</button>
  </ng-container>
</mat-menu>
