table {
  width: 100%;
}

th.mat-header-cell {
  text-align: left;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-top: 3px;
  padding-left: 16px;
  min-width: 50px;
}

// td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
//   text-align: right;
// }

th.data {
  min-width: 60px;
}

th.peso {
  min-width: 50px;
}

th.gordura {
  min-width: 62px;
}

th.gorduraVisceral {
  min-width: 62px;
}

th.musculo {
  min-width: 65px;
}

th.idadeCorporal {
  min-width: 65px;
}

th.metabolismoBasal {
  min-width: 89px;
}

th.imc {
  min-width: 40px;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  text-align: right;
  padding-right: 17px;
}
