<h1 mat-dialog-title>{{ dialogTitle }}</h1>

<mat-dialog-content class="container">
  <mat-form-field>
    <input type="text" placeholder="Idade" matInput [ngModel]="model.monstro.idade" readonly>
  </mat-form-field>

  <mat-form-field>
    <input type="text" placeholder="Data" matInput [(ngModel)]="model.data" required [matDatepicker]="dataPicker"
      #data="ngModel">
    <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
    <mat-datepicker #dataPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field hideRequiredMarker>
    <mat-select placeholder="Feita Com" [(ngModel)]="model.feitaCom" required name="feitaCom">
      <mat-option value="Balança Comum">Balança Comum</mat-option>
      <mat-option value="Omron HBF-214">Omron HBF-214</mat-option>
      <mat-option value="Omron HBF-514C">Omron HBF-514C</mat-option>
      <mat-option value="Feminino">Balança Personalizada</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Peso" matInput [(ngModel)]="model.peso" required #peso="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Gordura" matInput [(ngModel)]="model.gordura" required #gordura="ngModel">
    <!-- <span matSuffix innerHTML="{{indicadorDeGordura}}"></span> -->
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Gordura Visceral" matInput [(ngModel)]="model.gorduraVisceral" required
      #gorduraVisceral="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Músculo" matInput [(ngModel)]="model.musculo" required #musculo="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Idade Corporal" matInput [(ngModel)]="model.idadeCorporal" required
      #idadeCorporal="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="Metabolismo Basal" matInput [(ngModel)]="model.metabolismoBasal" required
      #metabolismoBasal="ngModel">
  </mat-form-field>

  <mat-form-field>
    <input type="number" placeholder="IMC" matInput [(ngModel)]="model.indiceDeMassaCorporal" required
      #indiceDeMassaCorporal="ngModel">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button mat-button
    [disabled]="data.invalid || peso.invalid || gordura.invalid || gorduraVisceral.invalid || musculo.invalid || idadeCorporal.invalid || metabolismoBasal.invalid || indiceDeMassaCorporal.invalid"
    (click)="onSave()">SALVAR</button>
</mat-dialog-actions>
