:host {
  // font-size: 11px;
  // font-weight: bold;
  // color: green;
  // font-size: 12px;
  // font-weight: bold;
  // color: blueviolet;
  // border: 2px solid;
  // border-radius: 50%;
}

span {
  font-size: 12px;
  // font-weight: bold;
  // display: inline-block;
  // width: 16px;
  // height: 16px;
  // margin-right: 4px;
  // padding: 3px 7px;
  padding: 5px 9px;
}

.primeiro-lugar {
  background-image: url(../../../../assets/medalha-primeiro-lugar-icon-24.png);
  // font-weight: bold;
  // color: goldenrod;
  // background-color: gold;
  // border: 2px solid goldenrod;
}

.segundo-lugar {
  background-image: url(../../../../assets/medalha-segundo-lugar-icon-24.png);
  // font-weight: bold;
  // color: black;
  // background-color: silver;
  // border: 2px solid black;
}

.terceiro-lugar {
  background-image: url(../../../../assets/medalha-terceiro-lugar-icon-24.png);
  // color: brown;
  // background-color: white;
  // border: 2px solid brown;
}

.demais-posicoes {
  font-size: 9px;
  font-weight: normal;
  color: #7e57c2; // deep-purple, 400
  border: 1px solid #7e57c2; // deep-purple, 400
  border-radius: 50%;
  padding: 0px 3px;
  margin-left: 6px;
  margin-right: 5px;
}

.sem-posicao {
  padding: 0px 10px;
  // color: blueviolet;
  // border: 1px solid blueviolet;
}
