.container {
  height: 84vh;
  // height: 400px;
  // overflow: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

div.perfil {
  width: 100%;
  margin: 10px auto 12px;
  text-align: center;
}

@media only screen and (min-width: 750px) {
  .container {
    height: 60vh;
  }

  div.perfil {
    width: 50%;
    margin: 28px auto 30px;
  }
}
