<mat-spinner class="spinner" diameter="50" strokeWidth="3" *ngIf="loading"></mat-spinner>

<div class="container" *ngIf="!loading">
  <div class="perfil">
    <div *ngIf="!monstroEstaLogado">
      <h1 class="mat-headline">Entre para o maior Clube de Monstros de todos os tempos!</h1>
      <a mat-raised-button color="accent" routerLink="/login" routerLinkActive="active">
        ENTRAR
      </a>
    </div>

    <div *ngIf="monstroLogado$ | async as monstroLogado">
      <a mat-raised-button color="accent" routerLink="/{{monstroLogado.id}}">
        IR PARA MEU PERFIL
      </a>

      <a mat-icon-button routerLink="/admin" *ngIf="ehAdministrador">
        <mat-icon>security</mat-icon>
      </a>
    </div>

  </div>
</div>
