<div class="container">
  <div class="perfil">
    <ng-container *ngIf="(monstroLogado$ | async) as monstroLogado; else loading">
      <div>
        <a mat-raised-button color="accent" routerLink="/{{monstroLogado.id}}">
          IR PARA MEU PERFIL
        </a>

        <a mat-icon-button routerLink="/admin" *ngIf="ehAdministrador$ | async">
          <mat-icon>security</mat-icon>
        </a>
      </div>
    </ng-container>

    <ng-template #loading>
      <ng-container *ngIf="ehAnonimo$ | async; else anonimo">
        <div>
          <h1 class="mat-headline">Entre para o maior Clube de Monstros de todos os tempos!</h1>
          <a mat-raised-button color="accent" routerLink="/login" routerLinkActive="active">
            ENTRAR
          </a>
        </div>
      </ng-container>
      <ng-template #anonimo>
        <div>
          <mat-spinner class="spinner" color="accent" diameter="40" strokeWidth="4"></mat-spinner>
        </div>
      </ng-template>
    </ng-template>
  </div>

  <footer class="mat-body">
    <a mat-button href="termos-de-uso">Termos de Uso</a>
    <a mat-button href="politica-de-privacidade">Política de Privacidade</a>
  </footer>
</div>
