<div class="container">
  <mat-card class="example-card center">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Marcelo Dias</mat-card-title>
      <mat-card-subtitle>O monstro mais forte de todos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/49419682_10156761772058654_1653825780649558016_o.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        <b>Monstros.Club</b> é uma aplicação que permite os monstros cadastrarem suas medidas (para monitoramento da
        saúde) e executar suas séries (previamente cadastradas).
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/login" routerLinkActive="active">ENTRAR</a>
    </mat-card-actions>
  </mat-card>
</div>
